.wrapper {
    width: 100%;
    height: calc(100vh - 3.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container {
        max-width: 700px;
        max-width: 375px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @apply font-sans;

        .image {
            width: auto;
            height: auto;
            border-radius: 15px;
            overflow: hidden;
            max-height: 85px;
            max-width: 85px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .title {
            padding-top: 30px;
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
            text-align: center;
        }

        .subtitle {
            padding-top: 10px;
            text-align: center;
        }

        .subscribe {
            margin-top: 50px;
            height: 55px; 
            display: flex;
            width: 100%;
            justify-content: center;
            border: 1px solid red;
            border-right: 0;
            border-radius: 5px;
            overflow: hidden;
            min-height: 55px;

            .input {
                height: 100%;
                width: 60%;
                color: black;
                padding-left: 10px; 

                &:invalid {
                    border-color: red;
                }
            }

            .cta {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                font-weight: 600;
                color: white;
                background-color: red;

                &:hover {
                    background-color: darken(red, 10%);
                }
            }
        }

        .preview {
            padding-top: 50px;
            cursor: pointer;
        }
    }
}

:global(.dark) {
    .wrapper {
        .container {
            .subscribe {
                .input {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}